.container{
    display: grid;
    grid-template-rows: 100px 1fr;
    grid-template-columns: 1fr;
    /*gap: 20px;*/
    /*min-height: 100vh;*/
}


.content {
    margin-top: 100px;
    height: fit-content(1fr);
    display: grid;
    /*grid-template-columns: auto auto auto auto auto;*/
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    /*grid-template-columns: 20% 20% 20% 20% 20%;*/
    /*grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));*/
    /*gap: 20px;*/
    /*background-color: deepskyblue;*/
    background-color: #1d1d1d;
    /*padding: 15px;*/

}

.profile-header {
    display: grid;
    /*grid-template-columns: 150px;*/
    grid-template-rows: 200px 1fr 50px;
    grid-template-columns: 1fr;
    grid-template-areas:
        "background"
        "photo"
        "profile-info";
    position: relative;
    background-color: #1d1d1d;
    /*height: 200px;*/
    border-radius: 5px;
    /*overflow: hidden;*/
    text-align: center;
    align-items: center;
    z-index: 1;

}

.profile-header .background {
    grid-area: background;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.profile-header .background img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profile-photo {
    grid-area: photo;
    position: absolute;
    z-index: 1000;
    bottom: 120px;
    /*bottom: -50px;*/
    left: 50%;
    top: 9%;
    transform: translateX(-50%) translateY(-50%);
    /*transform: translateY(-50%);*/
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 3px solid white;
    overflow: hidden;
    background-color: white;
    /*text-align: center;*/

}

.profile-photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profile-info {
    display: grid;
    justify-items: center;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 80px;
    text-align: center;
    color: #ff7fa5;
    z-index: 1;
    /*background-color: #ff7fa5;*/

}

.profile-info h1 {
    margin: 0;
    font-size: 24px;
    z-index: 1;
}

.profile-info p {
    color: #fff;
    margin: 0;
    z-index: 0;
}

.favourite-author {
    /*background-color: red;*/
    height: 50px;
    margin: 0 auto;
}

.favourite-author button {
    padding: 10px 15px;
    background-color: #ff7fa5;
    color: #1d1d1d;
    border-radius: 5px;
    font-family: Lumberjack;
    font-size: 17px;
    letter-spacing: 0.7px;
    cursor: pointer;
    transition: 0.5s background-color, 0.5s color;
}

.favourite-author button:hover {
    background-color: rgba(255, 127, 165, 0.3);
    color: #ff7fa5;
}


.about-section {
    /*background-color: orange;*/
    background-color: #1d1d1d;
    height: fit-content;
    padding: 20px;

    margin-top: -15px;
    /*margin-bottom: 200px;*/
}

.about-section p {
    white-space: normal;
    word-wrap: break-word;
    overflow-wrap: break-word;
    max-width: 900px;
    line-height: 2;
    color: white;
    text-align: left;
    margin-left: 25px;
}

.about-section button {
    /*text-align: center;*/
    width: 240px;
    height: 40px;
    padding: 10px 20px;
    /*margin: 0 auto;*/
    margin-top: 10px;
    margin-left: 25px;
    border: none;
    background-color: #ff7fa5;
    color: #1d1d1d;
    border-radius: 5px;
    font-family: Lumberjack;
    font-size: 17px;
    letter-spacing: 0.7px;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.4s background-color, 0.4s color;
}

.about-section button:hover {
    background-color: rgba(255, 127, 165, 0.3);
    color: #ff7fa5;
}

.about-section button:active {
    transform: scale(0.95);
}

#about-form textarea {
    line-height: 1.5;
    /*display: block;*/
    width: 1200px;
    height: 300px;
    color: white;
    background-color: #1d1d1d;
    text-align: left;
    margin-left: 25px;
}



.fanfics {
    margin-top: -15px;
    /*background-color: pink;*/
    /*margin-bottom: 0;*/
}

h2 {
    font-family: Lumberjack;
    font-size: 22px;
    font-weight: inherit;
    color: #ff7fa5;
    text-align: center;
    justify-content: center;
    padding: 10px;
    /*background-color: red;*/
}

.footer {
    margin-top: -25px;
}