.container{

    display: grid;
    grid-template-rows: 100px 1fr;
    grid-template-columns: 1fr;
    /*gap: 20px;*/
    /*min-height: 100vh;*/
}

.content {
    display: grid;
    /*grid-template-columns: auto auto auto auto auto;*/
    grid-template-rows: 1fr;
    grid-template-columns: auto;
    /*grid-template-columns: 20% 20% 20% 20% 20%;*/
    /*grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));*/
    /*gap: 10px;*/
    /*background-color: deepskyblue;*/
    background-color: #1d1d1d;
    /*padding: 15px;*/
}
