.container{
    top: 0;
    left: 0;
    display: grid;
    grid-template-rows: 100px 1fr;
    grid-template-columns: 1fr;
    /*gap: 20px;*/
    /*min-height: 100vh;*/
}


.content {
    color: white;
}

h1, h2, p{
    text-align: center;
}

h2 {
    font-family: Lumberjack;
    font-size: 24px;
    font-weight: inherit;
    color: #ff7fa5;
    text-align: center;
    justify-content: center;
    margin-top: 5px;
    margin-bottom: 10px;
}

.forms {
    font-size: 18px;
    /*background-color: blue;*/
    margin: 0 auto;
    width: 800px;
    padding: 20px;
    line-height: 2;

}

.forms input {
    width: 783px;
}

form {
    margin-bottom: 20px;
}

span label{
    margin-bottom: 15px;
    font-size: 18px;
}

/*#character-list {*/
/*    padding: 5px;*/
/*    margin-top: 5px;*/
/*    margin-bottom: 30px;*/
/*    !*background-color: #333;*!*/
/*}*/

/*#pairing-list {*/
/*    padding: 5px;*/
/*    margin-top: 5px;*/
/*    margin-bottom: 30px;*/
/*    !*background-color: #333;*!*/
/*}*/



form button {
    display: inline;
    margin-top: 10px;
    background-color: #ff7fa5;
    font-family: Lumberjack;
    font-size: 17px;
    letter-spacing: 0.7px;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.4s background-color, 0.4s color;
}

form button:hover {
    background-color: rgba(255, 127, 165, 0.3);
    color: #ff7fa5;
}

label {
    font-weight: bold;
}

input {
    color: #ff7fa5;
    background-color: #1d1d1d;
    border: 1px solid white;
}

select {
    color: #ff7fa5;
    background-color: #1d1d1d;
    border: 1px solid white;
    padding: 20px;
}

input, select, button {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid #ff7fa5;
    font-size: 15px;
    /*color: #ff7fa5;*/
}

.list {
    margin-top: 20px;
    display:inline;
}

.item {
    max-height: 20px;
    display: flex;
    /*justify-content: space-between;*/
    align-items: center;
    /*background-color: #2a2a2a;*/
    padding: 8px 12px;
    margin-bottom: 10px;
    /*border-radius: 4px;*/
    color: white;
    font-size: 18px;
}

.label {
    flex: 1;
}

textarea {
    width: 98%;
    font-size: 16px;
    margin-left: auto;
    margin-right: auto;
    /*width: 95%;*/
    min-height: 200px;
    height: 200px;
    border: 1px solid #ff7fa5;
    color: #ff7fa5;
    padding: 10px;
    margin-top: 10px;
    background: #1d1d1d;
    /*background: white;*/
}





