.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
}

.modal-content {
    background: #1d1d1d;
    color: white;
    padding: 20px;
    border-radius: 8px;
    width: 400px;
    max-width: 90%;
    text-align: center;
}

.modal-content input {
    width: 100%;
    padding: 8px;
    margin: 10px 0;
}

.modal-content button {
    width: 400px;
    padding: 10px;
    display: inline;
    margin-top: 10px;
    background-color: #ff7fa5;
    font-family: Lumberjack;
    font-size: 17px;
    letter-spacing: 0.7px;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.4s background-color, 0.4s color;
}

.modal-content button:hover {
    background-color: rgba(255, 127, 165, 0.3);
    color: #ff7fa5;
}

.close {
    position: absolute;
    top: 20px;
    right: 30px;
    font-size: 28px;
    cursor: pointer;
}

h3 h4 label {
    font-size: 18px;
    font-weight: bold;
}

.without {
    color: white;
    padding: 15px;
    text-align: center;
    font-size: 18px;
}

.title {
    font-family: Lumberjack;
    font-size: 22px;
    font-weight: inherit;
    color: #ff7fa5;
    text-align: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: -15px;
    /*padding: 5px;*/
    /*background-color: red;*/
}

.fanfics {
    /*background-color: red;*/
    width: 100%;
    height: fit-content(1fr);
    /*margin-bottom: 10px;*/
    background-color: #1d1d1d;
    display: flex;
    flex-direction: column;
    gap: 15px;
    /*padding: 10px;*/
    margin-bottom: 35px;

}

/*.fanfic {*/
/*    width: 95%;*/
/*    display: grid;*/
/*    grid-template-columns: 25% 1fr;*/
/*    margin: 0 auto;*/
/*    background-color: #333;*/
/*    position: relative; !* Додано для кнопки меню *!*/
/*}*/

.fanfic {
    width: 95%;
    display: grid;
    grid-template-columns: 1fr;
    margin: 0 auto;
    background-color: #333;
    position: relative; /* Додано для кнопки меню */
}

.like-container {
    position: absolute;
    margin-top: 8px;
    /*background-color: red;*/
    width: 70px;
    right: 150px;
    top: 5px;
}

.like-button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 20px;
    color: #ff7fa5;
    display: flex;
    align-items: center;
    gap: 4px;
    justify-content: center;
}

.like-button .heart {
    font-size: 22px;
}


/*.fanfic-img {*/
/*    width: 90%;*/
/*    height: auto;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*    background-color: rgba(0, 0, 0, 0.2);*/
/*}*/
/*.fanfic-img {*/
/*    width: 90%;*/
/*    height: auto;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*    background-color: rgba(0, 0, 0, 0.2);*/
/*}*/

/*.fanfic-img img {*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    margin: 0 auto;*/
/*    object-fit: cover;*/
/*}*/

/*.text {*/
/*    padding: 5px 10px;*/
/*    font-family: Lumberjack;*/
/*    font-weight: inherit;*/
/*    color: white;*/
/*    font-size: 18px;*/
/*    word-wrap: break-word;*/
/*    white-space: normal;*/
/*    overflow-wrap: anywhere;*/
/*    width: auto;*/
/*}*/

/*.text a {*/
/*    transition: color 0.3s;*/
/*    text-decoration: none;*/
/*    color: #ff7fa5;*/
/*    font-family: Lumberjack;*/
/*    font-weight: inherit;*/
/*    font-size: 20px;*/
/*    padding: 0;*/
/*}*/

/*.text p {*/
/*    width: fit-content;*/
/*}*/


.text {

    margin-left: 10px;
    /*background-color: red;*/
    padding: 5px 5px;
    font-family: Lumberjack;
    font-weight: inherit;
    color: white;
    font-size: 18px;
    word-wrap: break-word;
    white-space: normal;
    overflow-wrap: anywhere;
    line-height: 1.3;
    /*width: 100%;*/
}

.text a {
    transition: color 0.3s;
    text-decoration: none;
    color: #ff7fa5;
    font-family: Lumberjack;
    font-weight: inherit;
    font-size: 20px;
    padding: 0;
}

.text p {
    width: fit-content;
    text-align: left;
}

.text .title-fanfic {
    text-transform: uppercase;
    width: 80%;
    word-break: break-word;
    /*background-color: red;*/
    left: 0;
    height: fit-content(1fr);
    line-height: 1.4;
}

.text a:hover {
    color: white;
}

.menu-container {
    position: absolute;
    top: 10px;
    right: 10px;

}

.menu-button {
    background: none;
    border: none;
    font-size: 18px;
    cursor: pointer;
    padding: 5px;
}

.dropdown-menu {
    width: 150px;
    text-align: center;
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #1d1d1d;
    font-family: Lumberjack;
    color: #ff7fa5;
    font-weight: 400;
    font-size: 18px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    /*border-radius: 5px;*/
    overflow: hidden;
    z-index: 10;
}

.menu-item1 {
    padding: 10px;
    cursor: pointer;
    border-bottom: 1px solid #ff7fa5;
    transition: 0.3s background-color;
}

.menu-item1:last-child {
    border-bottom: none;
}

.menu-item1:hover {
    background-color: rgba(255, 255, 255, 0.14);
}

.remove-from-collection {
    text-align: right;
    bottom: 5px;
    right: 5px;
    position: absolute;
}

.remove-from-collection button {
    padding: 10px;
    background-color: #ff7fa5;
    color: #1d1d1d;
    border-radius: 5px;
    font-family: Lumberjack;
    font-size: 17px;
    letter-spacing: 0.7px;
    cursor: pointer;
    transition: 0.4s background-color, 0.4s color;
}

.remove-from-collection button:hover {
    background-color: rgba(255, 127, 165, 0.3);
    color: #ff7fa5;
}

.remove-from-collection button:active {
    transform: scale(0.95);
}

.owner-actions {
    text-align: right;
    bottom: 5px;
    right: 5px;
    position: absolute;
}

.owner-actions button {
    padding: 10px;
    background-color: #ff7fa5;
    color: #1d1d1d;
    border-radius: 5px;
    font-family: Lumberjack;
    font-size: 17px;
    letter-spacing: 0.7px;
    cursor: pointer;
    transition: 0.4s background-color, 0.4s color;
}

.owner-actions button:hover {
    background-color: rgba(255, 127, 165, 0.3);
    color: #ff7fa5;
}

.owner-actions button:active {
    transform: scale(0.95);
}