
.footer {
    /*display: grid;*/
    /*grid-auto-columns: 1fr;*/
    /*grid-auto-rows: 1fr;*/
    width: 100%;
    border-top: 1px solid #ff7fa5;
    background-color: #1d1d1d;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    /*margin-top: 40px;*/
}

.footer-content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 0 20px;
}

.footer-section {
    /*margin: 10px;*/
    max-width: 300px;
}

/*.footer-section h4 {*/
/*    margin-bottom: 10px;*/
/*    font-size: 1.2em;*/
/*}*/

.footer-h4 {
    margin-bottom: 10px;
    font-size: 1.2em;
}

/*.footer-section p, .footer-section a {*/
/*    font-size: 0.9em;*/
/*    color: #ddd;*/
/*    text-decoration: none;*/
/*}*/

.footer-section a {
    font-size: 0.9em;
    color: #ddd;
    text-decoration: none;
}

.footer-p {
    font-size: 0.9em;
    color: #ddd;
    text-decoration: none;
}

.footer-section a:hover {
    color: #fff;
}

.footer-bottom {
    margin-top: 20px;
    font-size: 0.8em;
    color: #bbb;
}
