.container{

    display: grid;
    grid-template-rows: 100px 1fr;
    grid-template-columns: 1fr;
    /*gap: 20px;*/
    /*min-height: 100vh;*/
}

.content {
    padding-bottom: 50px;
}

h2 {
    font-family: Lumberjack;
    font-size: 24px;
    font-weight: inherit;
    color: #ff7fa5;
    text-align: center;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 10px;
    word-break: break-word;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    /*padding: 5px;*/
    /*background-color: red;*/
}

.update {
    width: 95%;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}

#editor {
    margin-left: auto;
    margin-right: auto;
    /*width: 95%;*/
    min-height: 400px;
    height: 400px;
    border: 1px solid #ccc;
    padding: 10px;
    margin-top: 10px;
    background: white;
    overflow-y: auto;
}

.toolbar {
    /*text-align: right;*/
    top: 5px;
    left: 5px;
    /*position: absolute;*/
}

.toolbar button {
    padding: 5px 10px;
    margin-left: 5px;
    background-color: #ff7fa5;
    color: #1d1d1d;
    border-radius: 5px;
    font-family: Lumberjack;
    font-size: 17px;
    letter-spacing: 0.7px;
    cursor: pointer;
    transition: 0.4s background-color, 0.4s color;
}

.toolbar button:hover {
    background-color: rgba(255, 127, 165, 0.3);
    color: #ff7fa5;
}

.toolbar button:active {
    transform: scale(0.95);
}